<%= form_tag admin_view_attendance_path, method: :get do %>
    <div class="control-group">
      <%= label_tag "School Year" %>
      <div class="controls">
        <%= select_tag :batch_id, options_from_collection_for_select(Batch.all, :id, :name), include_blank: false ,prompt: "Select School Year", :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag "Class" %>
      <div class="controls" id="course-container">
        <%= select_tag :course_id, options_from_collection_for_select(Course.all, :id, :name), prompt: "Select Course", :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag "View Attendance", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  students_path, :class => 'btn' %>
    </div>
<% end %>

<% if !@students.blank? %>
    <% @students.each do |student| %>
       <%= student.name  %>
       <%= student.admission_number  %>
       <%= student.attendances.last.created_at  %>
    <% end %>
<% end %>

<script type="text/javascript">
    $(function () {

        $("#batch_id").on('change', function () {
            var target_id = $(this).val()
            var target_dom = "#course-container"
            var target_input_name = "course_id"
            var target_url = "/ajax/select_course"
            cascading_input_field_changes(target_id, target_dom, target_input_name, target_url)

        })


        $( document ).ajaxComplete(function() {
            $("#_admin_view_attendance_course_id").on('change', function () {
                var target_id = $(this).val()
                var target_dom = "#course-section-container"
                var target_input_name = "/admin/view_attendance[course_id]"
                var target_url = "/ajax/select_section"
                cascading_input_field_changes(target_id, target_dom, target_input_name, target_url)
            })
        });

    })
</script>

