<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Exam name</th>
      <th>Code</th>
      <th>Grade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.exam_name %></td>
        <td><%= result.code %></td>
        <td><%= result.grade %></td>
        <td><%= link_to 'Show', student_result_path(@student, result) %></td>
        <td><%= link_to 'Edit', edit_student_result_path(@student, result) %></td>
        <td><%= link_to 'Destroy', [@student, result], data: { confirm: 'Are you sure?', method: :delete } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_student_result_path(@student) %>
