<%= form_for([@student, @parent]) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :full_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :full_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone_number %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :primary_contact_person, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :primary_contract_person, value: false %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
