<%- model_class = Parent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @parent.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:primary_contract_person) %>:</strong></dt>
  <dd><%= @parent.primary_contract_person %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @parent.phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @parent.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @parent.address %></dd>


</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              student_parents_path, :class => 'btn'  %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_student_parent_path(@student, @parent), :class => 'btn' %>

  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              student_parent_path(@student, @parent),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
