<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @attendance.weekday %>
</p>

<p>
  <strong>Student:</strong>
  <%= @attendance.student_id %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
